{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["plugin:prettier/recommended", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["prettier"]
}
